* {
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translate(50%);
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box a {
    color: black;
    text-decoration: none;
}