nav {
    position: absolute;
    top: 0;
    right: 2em;
    left: auto; 
    background-color: var(--primary-color);
    padding: 1em 0;
    transition: background-color 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}

nav a.active {
    color: var(--accent-color);
    font-weight: bold;
    border-bottom: 2px solid var(--accent-color);
}

